<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ACPI\SSDT-EC.aml</key>
		<data>
		l3S3ZVQHKepCM6jhYZYa0L4tcYw/J3tDiWcFjW31UAU=
		</data>
		<key>ACPI\SSDT-EC.dsl</key>
		<data>
		YqfaHehw/FGnvjW5odZ9r8K7IDsoqKsHD+a99A8z4ZU=
		</data>
		<key>ACPI\SSDT-HPET.aml</key>
		<data>
		m6NMhc5Oq+iCDnIUcZ/zKTq3GkXAtKavStF2j9yGUgE=
		</data>
		<key>ACPI\SSDT-HPET.dsl</key>
		<data>
		QvQ2NScFTFKgUiJgkor/obbDCgQSiMHcQaONKzvrc+8=
		</data>
		<key>ACPI\SSDT-PMC.aml</key>
		<data>
		rIji+Ih0WcQ4wPFbebXLc+7O7s/besgOAzU5DoxFxeI=
		</data>
		<key>ACPI\SSDT-PMC.dsl</key>
		<data>
		AAwUsoAgDUNXXvOGDYV1cE5oLwRecA8wCCD6VdDAVLc=
		</data>
		<key>ACPI\SSDT-USB-Reset.aml</key>
		<data>
		48wLFsIdKFglC1JxX8Rq/3eQoqTjohUwPMZEfLZWmq8=
		</data>
		<key>ACPI\SSDT-USB-Reset.dsl</key>
		<data>
		7BkNgiAeHLXeVL3ng6SKj5pzcUrIt1W5vMZPB9sOKhE=
		</data>
		<key>ACPI\SSDT-USBX.aml</key>
		<data>
		TelVot4LP78IcpA9u667qLMGqi/nxc2aUh5DQ4681U0=
		</data>
		<key>Bootstrap\Bootstrap.efi</key>
		<data>
		Lfv0g1HS7ccgXdGRNr5srykBQ/1tigFgYNQG9YvhHJ4=
		</data>
		<key>Drivers\AudioDxe.efi</key>
		<data>
		aP9Zm1f1KjQWdMb+IpgkhTv/Xn8kq9nJ31EGPmp91ts=
		</data>
		<key>Drivers\HfsPlus.efi</key>
		<data>
		WIe9YMNtVnvhJ0hzlmNWsX/dx3Qt88Vft44QcbXsv+0=
		</data>
		<key>Drivers\OpenCanopy.efi</key>
		<data>
		p8tkFVKIQu3XRkPXzE0EppQAQpYzFvYsojQsPyXsQ3E=
		</data>
		<key>Drivers\OpenRuntime.efi</key>
		<data>
		i33L2vI/7uDHF5nXAEb8lZbVSUf6JqVWHjQw2puGkb8=
		</data>
		<key>Kexts\AppleALC.kext\Contents\Info.plist</key>
		<data>
		yV8i6L7poccv+bTN4dRZUo3jMH2p1cgV4tARsZ/rs7E=
		</data>
		<key>Kexts\AppleALC.kext\Contents\MacOS\AppleALC</key>
		<data>
		Z6Dj95dIi607uyafSvVIarMZgJxmPh+GAcuiWEc56lg=
		</data>
		<key>Kexts\AppleMCEReporterDisabler.kext\Contents\Info.plist</key>
		<data>
		WX7pssNO8pvGucJ3TC4MQeKnhH5qmb2tWVBywJYfQlM=
		</data>
		<key>Kexts\CtlnaAHCIPort.kext\Contents\Info.plist</key>
		<data>
		7vdNnDDfFg+sVxltyrCJ5rYQzAoQOTTxQmIRNaEL9zA=
		</data>
		<key>Kexts\CtlnaAHCIPort.kext\Contents\MacOS\CtlnaAHCIPort</key>
		<data>
		Nt1XonPQj46Gkfs3Kt0god9bxNXPFAE8OF3cwlzzS3Y=
		</data>
		<key>Kexts\CtlnaAHCIPort.kext\Contents\_CodeSignature\CodeResources.xml</key>
		<data>
		17FbsmvTUr0idVJJjWfro/U87Gjge33jJL+HDjtE4XI=
		</data>
		<key>Kexts\CtlnaAHCIPort.kext\Contents\version.plist</key>
		<data>
		N4UbohbaYz1+V6VFcng//I967gzWx/0Cd9kjqE1sz+E=
		</data>
		<key>Kexts\Lilu.kext\Contents\Info.plist</key>
		<data>
		mKAoiYCBAfo0L3TWqxZa+ojIsz5BrvKOEXPPp0jUhxA=
		</data>
		<key>Kexts\Lilu.kext\Contents\MacOS\Lilu</key>
		<data>
		nwGMRE8+0lPztNHxRPdu7+ZBdFyciBPIKXfCR7USNlA=
		</data>
		<key>Kexts\NVMeFix.kext\Contents\Info.plist</key>
		<data>
		vmufatt1SIcrSz9Nqya3agkBzHrGLzkDiYnjIPrtFuA=
		</data>
		<key>Kexts\NVMeFix.kext\Contents\MacOS\NVMeFix</key>
		<data>
		xL0ZF1BYTA7P2rkoTL5sDdOBqGFBs0QBVSCIjnB/NTc=
		</data>
		<key>Kexts\NullCPUPowerManagement.kext\Contents\Info.plist</key>
		<data>
		06RiE/9L/+NCCqtOTRkIIIg5q1xYSlIEZZrbtZJjGmo=
		</data>
		<key>Kexts\NullCPUPowerManagement.kext\Contents\MacOS\NullCPUPowerManagement</key>
		<data>
		RjRy3hwsMFgETtWTgUTao7GlJz2pxa2Yp+FdLwh1gC0=
		</data>
		<key>Kexts\NullCPUPowerManagement.kext\Contents\Resources\English.lproj\InfoPlist.strings</key>
		<data>
		OmJUwMCsvrIgzqg9AzzpA4QInurbWzu+m/WbRevz6Bs=
		</data>
		<key>Kexts\RealtekRTL8111.kext\Contents\Info.plist</key>
		<data>
		Fvk3aPIbBNAoAQko//eOTIXlQTRU9BOTV0gVjrFSUac=
		</data>
		<key>Kexts\RealtekRTL8111.kext\Contents\MacOS\RealtekRTL8111</key>
		<data>
		5XRrp5JXZzCjIoESO2jhxiDSAKaT1AX//VbyNAtEzzM=
		</data>
		<key>Kexts\RealtekRTL8111.kext\Contents\Resources\en.lproj\InfoPlist.strings</key>
		<data>
		Oc8u4Ht7Mz58F50L9NeYpbcq9qTlhPUeZCcDu/pPyCg=
		</data>
		<key>Kexts\USBInjectAll.kext\Contents\Info.plist</key>
		<data>
		jAxBLYnRGg4687W7y7dgCdve8IHkWjZC3q/f//gnEdI=
		</data>
		<key>Kexts\USBInjectAll.kext\Contents\MacOS\USBInjectAll</key>
		<data>
		1m0OmGwyvm9m+6Sze/IF1In3xuI9JUELE9SS7d3cJmo=
		</data>
		<key>Kexts\USBInjectAll.kext\Contents\_CodeSignature\CodeResources.xml</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Info.plist</key>
		<data>
		BQfa40E1SLAEjQLM8+aSP15L63GNvlidOVrHIChEv40=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\MacOS\VirtualSMC</key>
		<data>
		tjnSsLeHyAf9TYf0xKOQUtXVo94zixg/6gSvI3wpOWU=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\Info.plist</key>
		<data>
		/HFb7OxjVpK1KkRt0ZhUIhUMV1SFRY+9PD0NWV9unus=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\MacOS\WhateverGreen</key>
		<data>
		EXR1ZAbEXT6nMV7ow29ZCuC76Wd84l6yt2O6ZpRaV0M=
		</data>
		<key>Keys\ca.pem</key>
		<data>
		j3pBMbNkwqU6ww2h0Btacppia5JQGfozHytLBBxgr6c=
		</data>
		<key>Keys\privatekey.cer</key>
		<data>
		F5PyqJR/OoWO02tz1wn9OJC8af6BHhNa9fV9cLd8Jvc=
		</data>
		<key>Resources\Audio\OCEFIAudio_VoiceOver_Boot.wav</key>
		<data>
		dXRc09YdoLrc8Heip4I4sHIicsfDwiXCGjjPzF+IJok=
		</data>
		<key>Resources\Font\Font_1x.bin</key>
		<data>
		UbpyosL4nwwA6nHT+hU6EOZcObI/n1sZwA/b5snHQxU=
		</data>
		<key>Resources\Font\Font_1x.png</key>
		<data>
		cCpjm973z5PWFF0Ir3qAksRwfAjPujdpJT8cC7GbG5Q=
		</data>
		<key>Resources\Font\Font_2x.bin</key>
		<data>
		s2rSstzd4UZ1lFLSUUt/eAC5xomPooRWaWXWn2EbsYg=
		</data>
		<key>Resources\Font\Font_2x.png</key>
		<data>
		T7Rc18QRoPovyg6kwfwqATD4rwvNxxJ07ID7sZ8UrE4=
		</data>
		<key>Resources\Image\AppleRecv.icns</key>
		<data>
		B7hfEZiy+0DN5mhJRhO8vRXKn7xj/CYaunv3+aPcw0I=
		</data>
		<key>Resources\Image\AppleTM.icns</key>
		<data>
		2THGhilwQruqRcy0LW1OqCGr5qVaxlWHQzKb96AtBwQ=
		</data>
		<key>Resources\Image\Cursor.icns</key>
		<data>
		jWnjyC+nftf8rbEBmttXiqobKyBgUNNVTnKTRH2k1vU=
		</data>
		<key>Resources\Image\ExtAppleRecv.icns</key>
		<data>
		7xLvdstZvJsbpWA0XV68d/Wvf2qj8o21dwlHiORrc38=
		</data>
		<key>Resources\Image\ExtAppleTM.icns</key>
		<data>
		qNVam12lgS9r1kxUMrTkFNa7IC4qyXEf1XAqyfXRq58=
		</data>
		<key>Resources\Image\ExtHardDrive.icns</key>
		<data>
		byYuBaNvH/PloBeLM5YmwVa+aN6Pm120uQZSzhF0RYs=
		</data>
		<key>Resources\Image\HardDrive.icns</key>
		<data>
		ZSydAoxJb6XadZEPkLMSur6b76ouYgo0bedlFcPdGZw=
		</data>
		<key>Resources\Image\OldAppleRecv.icns</key>
		<data>
		BYIIrqxgEPGXmoah2ZkMmI7rSVwXHwTZRE0u7ZeRAiI=
		</data>
		<key>Resources\Image\OldAppleTM.icns</key>
		<data>
		kfqbz0TgBkWq0TlYnZgBVjIigruI8fVrW+rjIc1fd4g=
		</data>
		<key>Resources\Image\OldCursor.icns</key>
		<data>
		cFrd6p5REd0tw/V/R0QLKCTIwR3FIZWor2hjc0pNQvQ=
		</data>
		<key>Resources\Image\OldExtAppleRecv.icns</key>
		<data>
		kCAVGiy7XvX5OeArbGsj/YA2tPFO9H5Nu2rsK3mlwaE=
		</data>
		<key>Resources\Image\OldExtAppleTM.icns</key>
		<data>
		v1i8lfUZhtA0AZzjSYTIm7LALt8ewR3XFtxesyqYpQg=
		</data>
		<key>Resources\Image\OldExtHardDrive.icns</key>
		<data>
		lx2LM6/BjCD+7JjBZwxTifveSSBuZ0a0vZozYfgPhsM=
		</data>
		<key>Resources\Image\OldHardDrive.icns</key>
		<data>
		bdk6FQmsEZNwuu23yYPgcPL2I3Ef/J5EMLFgZj8JmCk=
		</data>
		<key>Resources\Image\OldSelected.icns</key>
		<data>
		vx8ufLxFiYZRp2r38/XXdwAZCC5YA5X5CDi1nV1eDlA=
		</data>
		<key>Resources\Image\OldSelector.icns</key>
		<data>
		9rRKs/YfQiHpV0iqtD9yexvZ25YKg5d3OoDD3cepdMA=
		</data>
		<key>Resources\Image\OldShell.icns</key>
		<data>
		gEcPCfcDTmFjthsXV+0PmwUQJiThDYfLGU8EiMWm1Yo=
		</data>
		<key>Resources\Image\OldTool.icns</key>
		<data>
		ki1bEsK6JJbF7q3YNKyeoa+zh+UzJiAaQZSZOZWArYs=
		</data>
		<key>Resources\Image\OldWindows.icns</key>
		<data>
		wNcbRCTnfXw2Baf/ZnCvqoHh1c0O80ez6gQod9GAm/s=
		</data>
		<key>Resources\Image\Selected.icns</key>
		<data>
		3j7UwdA2B+fxXOpYKLe6onQ0k6QZJpjCim84A7Uho84=
		</data>
		<key>Resources\Image\Selector.icns</key>
		<data>
		IfpTJIn1e29emudlPZdU+Tc8kw8V38/qBG0D3gRuVvk=
		</data>
		<key>Resources\Image\Shell.icns</key>
		<data>
		p5qs2O/dgXshBdR3+inPDaS7dH3chT5CY0G9DVlO1Y8=
		</data>
		<key>Resources\Image\Tool.icns</key>
		<data>
		P/qbWF8tPEpxYMJaR8zmm0aYw44eX6zYSKQczHYKtuo=
		</data>
		<key>Resources\Image\Windows.icns</key>
		<data>
		vdSheJ+3sDd3ARNfArhva6RhRFwnuaQz9ZN/X7oh38o=
		</data>
		<key>Resources\Label\Apple.l2x</key>
		<data>
		aqQuuV8p4HnZyMw9D3OJ6GuyaHoi2LH5mOTMiHsP8B0=
		</data>
		<key>Resources\Label\Apple.lbl</key>
		<data>
		Beur9wk5wxkmid2OEO1n7hJr75sAEaEbilsftssHsVk=
		</data>
		<key>Resources\Label\AppleRecv.l2x</key>
		<data>
		45KSmt4VG9OpqhvlrzFyzYti6k1acdD10jKE7u1LBow=
		</data>
		<key>Resources\Label\AppleRecv.lbl</key>
		<data>
		ZNl8ExxImOlljcrtb0HRj9yZwvPOV7bBf+UVgq1quNw=
		</data>
		<key>Resources\Label\AppleTM.l2x</key>
		<data>
		vlVLy0ljWOJ6/CLBBKi3tTsni3zSNQSLAy3grJv3Fec=
		</data>
		<key>Resources\Label\AppleTM.lbl</key>
		<data>
		FHQN+5rnVtoLvnEYSWmOT/rc4a9Xm0rPh4L0FIqadtA=
		</data>
		<key>Resources\Label\EFIBoot.l2x</key>
		<data>
		tUq1rW76qR+qrXVI9RI8bnqCWflnAWtGnhDgCTg4IZ4=
		</data>
		<key>Resources\Label\EFIBoot.lbl</key>
		<data>
		Zcy1wg8NZqZmUacQhy6KkH19QbcEnGR9YgvK0sqONbA=
		</data>
		<key>Resources\Label\Other.l2x</key>
		<data>
		bToqVY/uMYK1bZIRKXjW3yY/r8UIi/vKtMxIflqRvPE=
		</data>
		<key>Resources\Label\Other.lbl</key>
		<data>
		mqInO/f5n7q8fukEDFzomQlFwJL4QxYRqlcmFoJ/f8o=
		</data>
		<key>Resources\Label\ResetNVRAM.l2x</key>
		<data>
		hYMKejHsjiMruJTRWlb1ghGYLD9nWj62/oGQ9AMABkM=
		</data>
		<key>Resources\Label\ResetNVRAM.lbl</key>
		<data>
		x/EwJcwlbQV6AmKggOwO2TP/9yAhi79HyHYvL+Q1AJg=
		</data>
		<key>Resources\Label\Shell.l2x</key>
		<data>
		iL/jdtTT78wa42h1t64Nwf3yf3o8LYWbC4pfh/Y60b8=
		</data>
		<key>Resources\Label\Shell.lbl</key>
		<data>
		7yts2fxOEcPtVYVV/Pvp+zN3/V2HISzrXh3B+pReBEU=
		</data>
		<key>Resources\Label\Tool.l2x</key>
		<data>
		L9RHriS0wbQ6Yx9aEWobWlnFj0mVn85MX+1+d08HvyQ=
		</data>
		<key>Resources\Label\Tool.lbl</key>
		<data>
		gAm1eccLkfAykSaU3SXahr3mwZTfF2WRTQmdjY5OezU=
		</data>
		<key>Resources\Label\Windows.l2x</key>
		<data>
		ss8U4b4/hAy/cUyNikpOdqY1x+5bsmqVOSIlhDCRdwg=
		</data>
		<key>Resources\Label\Windows.lbl</key>
		<data>
		qSL4ofi7m/ym98/PsrcsC6zCF+D2Et1O9Gd7w9UElkg=
		</data>
		<key>Tools\OpenShell.efi</key>
		<data>
		r+AQl8MofWEvr+poXo84Q+RgOSJUOxWpfUt5+1SJwF8=
		</data>
		<key>config.plist</key>
		<data>
		/iUEXRO55i2EMoxdBJur3FkNT5PY9D0Ws8ygkapEpn0=
		</data>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
